<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050861697824-3k1bm3um4lj5hj5in99tb1vtctcfislo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050861697824-3k1bm3um4lj5hj5in99tb1vtctcfislo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1050861697824-r2ep328nd60cjmtkte99769innkk7b6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn4K6c26mpmBSy6Nln9FVZWQNawUuiZJc</string>
	<key>GCM_SENDER_ID</key>
	<string>1050861697824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nesscale.qmMlm</string>
	<key>PROJECT_ID</key>
	<string>qm-trading-app-48318</string>
	<key>STORAGE_BUCKET</key>
	<string>qm-trading-app-48318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050861697824:ios:59be1fca1b6ace8463b545</string>
</dict>
</plist>